<div class="p-4 rounded text-white text-center shadow mb-4"
     [ngClass]="{'bg-gray-900 dark:bg-black': questionType == 'black', 'bg-red-600 dark:bg-red-700': questionType == 'red'}">
  <h3 class="text-md" [ngClass]="{'text-gray-600': questionType == 'black', 'opacity-75': questionType == 'red'}"
      *ngIf="selectedPlayer && questionGroupType != 'group'">Een vraag
    voor: {{ selectedPlayer.name }}</h3>

  <h2 class="text-2xl" *ngIf="selectedQuestion">{{ selectedQuestion.question }}</h2>
</div>

<div class="flex flex-row justify-end" *ngIf="game">
  <div class="rounded py-2 px-4 cursor-pointer bg-gray-800 hover:bg-gray-900 dark:bg-gray-700 dark:hover:bg-gray-800 transition duration-100 text-white" (click)="nextQuestion()"
       *ngIf="this.selectedQuestionIndex < this.game.data.questions.length - 1">
    Volgende vraag
  </div>
  <div class="rounded py-2 px-4 cursor-pointer bg-gray-800 hover:bg-gray-900 dark:bg-gray-700 dark:hover:bg-gray-800 transition duration-100 text-white" (click)="endGame()"
       *ngIf="this.selectedQuestionIndex >= this.game.data.questions.length - 1">
    Spel beëindigen
  </div>
</div>
