<nav
  class="fixed w-full z-50 p-4 text-center bg-indigo-900 dark:bg-indigo-900 text-white mb-4 lg:mb-8 shadow-lg flex flex-row justify-between items-center">
  <div class="text-lg font-bold">GameQuest</div>
  <div (click)="navMenuExpanded = !navMenuExpanded"
       class="cursor-pointer ml-2 w-8 h-8 rounded-full bg-indigo-700 flex flex-row items-center justify-center">
    <svg *ngIf="!navMenuExpanded" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>

    <svg *ngIf="navMenuExpanded" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>
</nav>

<div class="" style="height: 64px;"></div>

<div class="fixed w-full h-full mt-16 flex flex-col w-full left-0 top-0" [@inOutAnimation] *ngIf="navMenuExpanded">
  <div (click)="navMenuExpanded = false" class="bg-opacity-60 bg-gray-900 w-full h-full left-0 top-0 absolute"></div>

  <div class="m-4 rounded bg-white shadow overflow-hidden z-10">
    <div class="p-4 flex flex-col border-b border-gray-100" *ngIf="authService.user">
      <div class="text-sm text-indigo-800">Jouw Account</div>
      <ul class="text-sm text-gray-600">
        <li>Naam: {{ authService.user.name }}</li>
        <li>Email: {{ authService.user.email }}</li>
      </ul>
    </div>

    <div class="p-4 cursor-pointer flex flex-row items-center hover:bg-gray-100 transition-colors duration-75 border-b border-gray-100" (click)="logout()" *ngIf="authService.user">
      <svg class="w-5 h-5 mr-2 text-indigo-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div>Uitloggen</div>
    </div>
    <div class="p-4 cursor-pointer flex flex-row items-center hover:bg-gray-100 transition-colors duration-75" (click)="login()" *ngIf="!authService.user">
      <svg class="w-5 h-5 mr-2 text-indigo-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div>Inloggen</div>
    </div>
    <div class="p-4 cursor-pointer flex flex-row items-center hover:bg-gray-100 transition-colors duration-75" routerLink="/home" (click)="navMenuExpanded = false">
      <svg class="w-5 h-5 mr-2 text-indigo-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
      <div>Home</div>
    </div>
  </div>
</div>

<div class="m-4 lg:m-8 xl:m-12">
  <router-outlet></router-outlet>
</div>
