<div class="flex flex-col md:flex-row -mx-4">
  <div class="md:w-1/2 m-4">
    <h2 class="text-gray-600 dark:text-gray-200">Spelers:</h2>
    <h3 class="text-sm text-gray-500 dark:text-gray-300">{{ game.players.length }} spelers</h3>

    <div class="dark flex flex-row flex-wrap -mx-3 mt-2">
      <div *ngFor="let player of game.players" [title]="player.id" class="flex flex-row items-center m-3">
        <div class="w-4 h-4 mr-2 rounded-full bg-gray-800 dark:bg-indigo-600"></div>
        {{ player.name }}
      </div>
    </div>
  </div>

  <div class="md:w-1/2 m-4">
    <div class="bg-white dark:bg-gray-900 rounded shadow p-4">
      <h1 class="text-lg text-black font-bold dark:text-white">Code: {{ game.code }}</h1>

      <p class="text-gray-600 text-sm mb-2">Doe mee door de QR code hier onder te scannen, of ga naar <span class="font-bold">{{ APP_URL }}</span> en voer de code {{ game.code }} in.</p>

      <ngx-qrcode [value]="gameUrl" cssClass="w-full flex flex-row justify-center"></ngx-qrcode>
    </div>
  </div>
</div>
